html{
    margin: 0;
}

.navbar{
    color: brown;
    border-bottom: 3px solid rgb(97, 28, 28);
}

.container{
    background-color: rgb(255, 255, 255);
    
}

.teks-bawah{
    margin-top: 30vh;
    margin-left: 90vh;
    justify-content: center;
    align-items: center;

    
}