html{
    margin: 0;
}
.navbar{
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}

.container{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
}

.teks-bawah{
    margin-top: 19.5vh;
    margin-left: 90vh;
    justify-content: center;
    align-items: center;

    
}

.background{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/120/215/desktop-wallpaper-2560x1440-orange-white-solid-colorful-widescreen-16-9-backgrounds-solid-orange.jpg);
}